/* THEME */
:root {
  color-scheme: light dark;

  --light-font: #000;
  --light-bg: #fff;
  --light-gray-05: #f5f6f7;
  --light-gray-10: #dfdfe2;
  --light-gray-15: #d0d0d5;

  --dark-font: #fff;
  --dark-bg: #0a0a23;
  --dark-gray-85: #1b1b32;
  --dark-gray-80: #2a2a40;
  --dark-gray-75: #3b3b4f;

  --light-blue: #007bff;
}

/* RESET STYLES */
#root,
#__next {
  isolation: isolate;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  color: light-dark(var(--light-font), var(--dark-font));
  font-family: "Lato", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  background-color: light-dark(var(--light-bg), var(--dark-gray-80));
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.header {
  background-color: var(--dark-bg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  padding: 1rem;

  color: var(--dark-font);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
}

.header__logo {
  width: clamp(2rem, 5vw, 2rem);
}

.header__description {
  font-size: 1rem;
  font-weight: 600;
  color: var(--light-gray-05);

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;

  a {
    color: var(--light-gray-05);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
    color: var(--dark-font);
  }
}

.main {
  padding: 1rem;
}

#title {
  text-align: center;
  font-size: 2.2rem;

  margin-bottom: 0.5rem;
}

#description {
  text-align: center;
  color: light-dark(var(--dark-gray-85), var(--light-gray-10));
}

#survey-form {
  background-color: light-dark(var(--light-bg), var(--dark-bg));

  padding: 1rem;
  margin: 1rem 0;

  border: 2px solid light-dark(var(--dark-gray-80), var(--light-gray-15));
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 2px solid light-dark(var(--dark-gray-80), var(--light-gray-15));
}

p,
label,
input,
textarea,
button,
option,
select,
legend {
  font-size: 1.2rem;
  font-weight: 600;
}

input,
textarea,
option,
select {
  font-weight: 500;
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px solid var(--light-blue);
}

input:not(:placeholder-shown),
select:valid,
textarea:not(:placeholder-shown) {
  background-color: light-dark(var(--light-gray-10), var(--dark-gray-80));
}

.icon {
  width: clamp(1rem, 5vw, 2rem);
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

fieldset {
  border: 2px solid light-dark(var(--dark-gray-80), var(--light-gray-15));
  padding: 1rem;
  margin: 1rem 0;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

fieldset label {
  background-color: light-dark(var(--light-gray-10), var(--dark-gray-80));
  padding: 0.5rem;
  border: 2px solid light-dark(var(--dark-gray-80), var(--light-gray-15));

  cursor: pointer;
  user-select: none;
}

#feature1:checked ~ label[for="feature1"],
#feature2:checked ~ label[for="feature2"],
#feature3:checked ~ label[for="feature3"],
#feature4:checked ~ label[for="feature4"],
#feature5:checked ~ label[for="feature5"] {
  background-color: light-dark(var(--dark-gray-80), var(--light-bg));
  color: light-dark(var(--light-gray-15), var(--dark-gray-75));
}

#maybe:checked ~ label[for="maybe"],
#not-sure:checked ~ label[for="not-sure"],
#definitely:checked ~ label[for="definitely"] {
  background-color: light-dark(var(--dark-gray-80), var(--light-bg));
  color: light-dark(var(--light-gray-15), var(--dark-gray-75));
}

#submit {
  background-color: light-dark(var(--light-gray-10), var(--dark-gray-80));
  color: var(--light-bg);

  padding: 0.5rem;
  margin: 1rem 0;

  border: 2px solid light-dark(var(--dark-gray-80), var(--light-gray-15));

  cursor: pointer;
}
#submit:hover {
  background-color: light-dark(var(--dark-gray-80), var(--light-gray-80));
  color: var(--light-bg);
}

#submit:active {
  background-color: light-dark(var(--dark-gray-80), var(--light-bg));
  color: light-dark(var(--light-gray-15), var(--dark-gray-75));
}

/* TODO: footer style */
